<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="dashboard-card">

        <div class="top-actions">
            <button onclick="window.location.href='/login-page'">← Back</button>
            <button onclick="logoutUser()">Logout ⎋</button>
        </div>

        <h2>🔐 Secure Dashboard</h2>

        <div class="action-buttons">
            <button onclick="window.location.href='/profile-page'">
                👤 View Profile
            </button>
            <button onclick="adminOnly()">🛡 Admin Check</button>
        </div>

        <p id="message"></p>
        <pre id="output"></pre>

    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>