<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="auth-box">
    <h2>Login</h2>

    <input type="email" id="loginEmail" placeholder="Email">
    <input type="password" id="loginPassword" placeholder="Password">

    <button onclick="loginUser()">Login</button>

    <p>Don't have an account? <a href="/">Register</a></p>
    <p id="message"></p>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html> 