<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="auth-box">
    <h2>Create Account</h2>

    <input type="text" id="regName" placeholder="Full Name">
    <input type="email" id="regEmail" placeholder="Email">
    <input type="password" id="regPassword" placeholder="Password">

    <button onclick="registerUser()">Register</button>

    <p>Already have an account? <a href="/login-page">Login</a></p>
    <p id="message"></p>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>